.ui-button,
.ui-button--default{
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #c0ccda;
    color: #1f2d3d;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 4px;
}
.ui-button:hover,
.ui-button--default:hover{
    color: #20a0ff;
    border-color: #20a0ff;
}
.ui-button--large{
    padding: 11px 19px;
    font-size: 16px;
    border-radius: 4px;
}
.ui-button--small{
    padding: 7px 9px;
    font-size: 12px;
    border-radius: 4px;
}
.ui-button--mini{
    padding: 4px 6px;
    font-size: 12px;
    border-radius: 3px;
}
.ui-button--primary{
    color: #fff;
    background-color: #20a0ff;
    border-color: #20a0ff;
}
.ui-button--primary:hover{
    background: #4db3ff;
    border-color: #4db3ff;
    color: #fff;
}
.ui-button--plain-primary:hover,
.ui-button--plain-primary:focus{
    border-color: #4db3ff;
    color: #4db3ff;
}
.ui-button--success{
    color: #fff;
    background-color: #13ce66;
    border-color: #13ce66;
}

.ui-button--success:hover{
    background: #42d885;
    border-color: #42d885;
    color: #fff;
}
.ui-button--plain-success:hover,
.ui-button--plain-success:focus{
    border-color: #42d885;
    color: #42d885;
}
.ui-button--warning{
    color: #fff;
    background-color: #f7ba2a;
    border-color: #f7ba2a;
}

.ui-button--warning:hover{
    background: #f9c855;
    border-color: #f9c855;
    color: #fff;
}
.ui-button--plain-warning:hover,
.ui-button--plain-warning:focus{
    border-color: #f9c855;
    color: #f9c855;
}
.ui-button--danger{
    color: #fff;
    background-color: #ff4949;
    border-color: #ff4949;
}
.ui-button--danger:hover{
    background: #ff6d6d;
    border-color: #ff6d6d;
    color: #fff;
}

.ui-button--plain-danger:hover,
.ui-button--plain-danger:focus{
    border-color: #ff6d6d;
    color: #ff6d6d;
}
.ui-button--info{
    color: #fff;
    background-color: #50bfff;
    border-color: #50bfff;
}
.ui-button--info:hover,
.ui-button--loading,
.ui-button--loading:hover{
    background: #73ccff;
    border-color: #73ccff;
    color: #fff;
}

.ui-button--plain-info:hover,
.ui-button--plain-info:focus{
    border-color: #73ccff;
    color: #73ccff;
}

.ui-button--loading,
.ui-button--loading:hover{
    cursor: default;
}
.ui-button[disabled],
.ui-button[disabled]:hover{
    background-color: #fff;
    border-color: #d3dce6;
    color: #c0ccda;
    cursor: not-allowed;
}



